/*内容主题*/
.content-wrap{
	background-repeat: no-repeat;
	margin-top: 10px;
	position: relative;
	height: 700px;
	
}
.contenLog{
	position: absolute;
	top: 100px;
    left: 160px;
    width: 120px;
    height: 40px;
}
.contenLo{
	position: absolute;
	top: 100px;
    left: 280px;
    width: 120px;
    height: 40px;
}
.contenT{
	position: absolute;
    top: 30%;
    left: 60px;
}
.content{
	position: absolute;
    width: 388px;
    top: 214px;
    right: 100px;
    padding: 28px 42px;
    border: 1px #E9E9E9 solid;
    background: #f1f1f1;
    text-align: center;
}

.content ul li{
	margin: 20px;
}
.content ul li>a{
	font-size: 18px;
	margin: 16px 0;
	color: #CBCCCC;
	padding: 0 30px;
}
.password-login{
	border-right: 1px solid #CBCCCC;
}
.content ul li>input{
	width: 302px;
	height: 38px;
	padding: 0px 5px;
	border: 1px solid #efefef;
	border-radius: 2px;
}
.content ul li div input{
	padding: 0 5px;
    height: 36px;
    width: 172px;
    border: 1px solid #efefef;
    border-radius: 2px;
    outline: none;
    color: #442818;
    line-height: 38px;
    vertical-align: middle
}
.content ul li div a{
	width: 149px;
    height: 36px;
    line-height: 36px;
    padding: 6px 21px;
    cursor: pointer;
    background: #FAFAFA;
    border: 1px solid #EBEBEB;
    border-radius: 2px;
    color: #442818;
    vertical-align: middle
}
.content ul li p input{
	width: 312px;
	background-color: #442818;
	color: #FFFFFF;
	padding: 0 5px;
	height: 48px;
	border: 1px solid #442818;
	border-radius: 2px;
}
.content ul li span{
	font-size: 12px;
	width: 210px;
	
}
.content ul li span a{
	font-size: 12px;
}
