/*内容主题*/
.content-wrap{
	background-repeat: no-repeat;
	margin-top: 10px;
	position: relative;
	height: 700px;
}
.contenLog{
	position: absolute;
	 top: 60px;
    left: 160px;
}
.contenT{
	position: absolute;
    top: 30%;
    left: 60px;
}
.content{
	position: absolute;
    width: 388px;
    top: 150px;
    right: 40px;
    padding: 28px 42px;
    border: 1px #E9E9E9 solid;
    background: #FFFFFF;
    text-align: center;
}
.content ul li {
	margin: 16px 0;
}
.content ul li a{
	font-size: 18px;
	color: #482618;
}
.content ul li>input{
	width: 290px;
    padding: 0 5px;
    height: 36px;
    border: 1px solid #efefef;
    border-radius: 2px;
    outline: none;
    color: #442818;
    line-height: 38px;
}
.content ul li div input{
	padding: 0 5px;
    height: 36px;
    width: 172px;
    border: 1px solid #efefef;
    border-radius: 2px;
    outline: none;
    color: #442818;
    line-height: 38px;
    vertical-align: middle
}
.content ul li div a{
	width: 149px;
    height: 36px;
    line-height: 36px;
    padding: 6px 10px;
    cursor: pointer;
    background: #FAFAFA;
    border: 1px solid #EBEBEB;
    border-radius: 2px;
    color: #442818;
    vertical-align: middle
}
.content ul li p input{
	background: #442818;
    border-radius: 2px;
    height: 48px;
    width: 302px;
    line-height: 48px;
    font-size: 18px;
    border: 0;
    cursor: pointer;
    color: #fff;
}
.content ul li span{
	font-size: 12px;
}
.content ul li span a{
	font-size: 12px;
	color: #2A99FA;
}
